!!! 5
%html
	%head
		%title
			= "Bringmethat"

		= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track' => true
		= stylesheet_link_tag	'application', 'https://fonts.googleapis.com/css?family=Alegreya:400,900italic'
		= javascript_include_tag 'application', 'https://maps.googleapis.com/maps/api/js?libraries=places'
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags

	%body