.row.starter-template
	.col-md-6
		.panel.panel-primary
			.panel-body
				= simple_form_for :new_user_session_path, :url => :static_page_of_home, :method => "GET" do |f|
					= f.error_notification
					.inputs
						= f.input :body
					.actions
						= f.button :submit



	.col-md-6
		.panel.panel-primary
			.panel-body
				= "hello"
