.row
	.col-md-6
		.panel.panel-primary
			.panel-body
				= simple_form_for :browse_index_path, :url => :browse_index, :method => "GET" do |f|
					= f.error_notification
					.inputs
						= f.input :from, :input_html => { :id => "frontpage-from-id" }
						= f.input :from_hidden, :as => :hidden, :input_html => {:value => "city", :id => "from_hidden_id"}

						= f.input :to, :input_html => {:id => "frontpage-to-id"}
						= f.input :to_hidden, :as => :hidden, :input_html => {:value => "city", :id => "to_hidden_id"}
					.actions
						= f.button :submit, 'Search', :class => 'btn btn-primary'



	.col-md-6
		.panel.panel-primary
			.panel-body
				%p Want to take items from a place to another while travelling?
				= link_to "Register as Flyer", :new_flyer_registration, :class => "btn btn-primary"
