= form_for @broadcast do |f|
  - if @broadcast.errors.any?
    #error_explanation
      %h2= "#{pluralize(@broadcast.errors.count, "error")} prohibited this broadcast from being saved:"
      %ul
        - @broadcast.errors.full_messages.each do |msg|
          %li= msg

  .field-group
    = f.label :title
    = f.text_field :title, :class => "form-control"
  .field-group
    = f.label :description
    = f.text_area :description, :class => "form-control"
  .field-group
    = f.label :country_travelling_to
    = f.text_field :country_travelling_to, :class => "form-control"
  .field-group
    = f.label :city_travelling_to
    = f.text_field :city_travelling_to, :class => "form-control"
  .field-group
    = f.label :amount
    = f.text_field :amount, :class => "form-control"
  .field-group
    = f.label :currency
    = f.select :currency_id, options_for_select(Currency.all.map{|c|[c.currency_code, c.id]}), :class => "form-control"
  .field-group
    = f.label :weight
    = f.number_field :weight, :class => "form-control"
  .field-group
    = f.label :travel_date
    = f.date_select :travel_date, :class => "form-control"
  .field-group
    = f.label :reaching_date
    = f.date_select :reaching_date, :class => "form-control"
  .field-group
    = f.label :reaching_time
    = f.time_select :reaching_time, :class => "form-control"
  .actions
    = f.submit 'Save', :class => "btn btn-primary"
