= form_for @broadcast do |f|
  - if @broadcast.errors.any?
    #error_explanation
      %h2= "#{pluralize(@broadcast.errors.count, "error")} prohibited this broadcast from being saved:"
      %ul
        - @broadcast.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :country_travelling_to
    = f.text_field :country_travelling_to
  .field
    = f.label :city_travelling_to
    = f.text_field :city_travelling_to
  .field
    = f.label :amount
    = f.text_field :amount
  .field
    = f.label :currency
    = f.select :currency_id, options_for_select(Currency.all.map{|c|[c.currency_code, c.id]})
  .field
    = f.label :weight
    = f.number_field :weight
  .field
    = f.label :travel_date
    = f.date_select :travel_date
  .field
    = f.label :reaching_date
    = f.date_select :reaching_date
  .field
    = f.label :reaching_time
    = f.time_select :reaching_time
  .actions
    = f.submit 'Save'
