= render "shared/head"

.site-wrapper
	.site-wrapper-inner
		.cover-container
			= render "shared/notice_and_alert"
			.masthead.clearfix
				.inner
					%h3.masthead-brand
						= "Bring Me That"
					%nav
						%ul.nav.masthead-nav
							%li.active
								%a{:href => "#"}Home
								%a{:href => "/"}Login
								- if flyer_signed_in?
									= current_flyer.role_id

.container-fluid
	.row-fluid
		.span5.frontpage-first-column
			= yield
		.span10.frontpage-second-column
			%p
				%h1	Want to be a flyer?
			.btn.btn-primary
				= link_to "Click Here", new_flyer_session_path
